/*
  Author: Simon Studen

  This is the style.css for all the html pages of my webstie. Most of the styling
  for the page uses the Bulma CSS Framework, so this file contains a few minor customizations.
*/

body {
  font-family: 'League Spartan', sans-serif;
  min-width: 600px;
}

main {
  margin-top: 20px;
  margin-top: 20px;
}

main > .title {
  padding-top: 20px;
}

main #intro p, #vast-info p {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

a img {
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.uw-text {
  color: rgb(98, 66, 165);
}

.card-footer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#profile-pic img {
  border-radius: 15%;
  box-shadow: 8px 8px 8px;
}

#intro {
  margin-right: 50px;
  max-width: 800px;
}

.class-card, #filter-card, #error-alert {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headshot {
  border-radius: 15%;
  box-shadow: 8px 8px 8px;
  height: 250px;
  width: 250px;
}

#link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

#link-container img, footer img {
  opacity: 81.5%;
}

#link-container img {
  margin-top: 5px;
  margin-bottom: 5px;
}

#vast-container {
  display: flex;
  min-width: 600px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

#vast-info {
  padding-right: 20px;
}

#vast-screenshot {
  width: 90%;
}