/*
  Author: Simon Studen

  This is the style.css for all the html pages of my webstie. Most of the styling
  for the page uses the Bulma CSS Framework, so this file contains a few minor customizations.
*/

body {
  font-family: 'League Spartan', sans-serif;
}

main {
  margin-top: 20px;
}

main > .title {
  padding-top: 20px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

a img {
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.uw-text {
  color: rgb(98, 66, 165);
}

.card-footer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#profile-pic img {
  width: 80%;
  border-radius: 15%;
  box-shadow: 8px 8px 8px;
}

#intro {
  margin-right: 50px;
}

main > h1, #classes-header, #loading-placeholder, #error-alert {
  text-align: center;
}

.class-card, #filter-card, #error-alert {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main > section, #art-container, #art-info {
  align-items: center;
}

#art-container, #art-info, #cards-container {
  flex-direction: column;
}

#art-container h1, #art-container h2, #art-container p {
  font-family: fantasy;
}

#loading-placeholder, #art-container article, #art-container h2 {
  width: 500px;
}

#art-container img, #loading-placeholder {
  height: 500px;
}

#art-container img {
  border: 15px blanchedalmond ridge;
}

#art-container img, #art-container h2, #request-btn {
  margin-bottom: 12px;
}

main,
.class-card,
#art-container article,
#quarter-selection-container,
#classcode-selection-container,
#filter-card,
#error-alert {
  margin-bottom: 20px;
}

#department-selection-container, #query-input-container {
  justify-content: space-between;
}

#class-code-input {
  width: 121.3px;
}

#quarter-selection-container label, #classcode-selection-container label {
  margin-right: 20px;
}

main > section,
#art-container,
#art-info,
#department-selection-container,
#query-input-container,
#quarter-selection-container,
#classcode-selection-container,
#cards-container {
  display: flex;
}